.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navigation__g8BIv:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__tyU {
  object-fit: cover;
  width: 40px;
}
.img__tyU > picture > img {
  object-fit: cover;
}
.img__tyU > .__wab_img-spacer > img {
  object-fit: cover;
}
.button__aiGoC:global(.__wab_instance) {
  position: relative;
}
.svg___1D3Lj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__afNf3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__sy57I:global(.__wab_instance) {
  position: relative;
}
.svg__l2G2J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__wNtq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__t9Yex:global(.__wab_instance) {
  position: relative;
}
.svg___5Ebrm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__rcfir {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__iEhtI:global(.__wab_instance) {
  position: relative;
}
.svg__dTfE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg___1PWqt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__op7Kq:global(.__wab_instance) {
  position: relative;
}
.svg__z9509 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__arLBs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__tv5Ji:global(.__wab_instance) {
  position: relative;
}
.svg__hbPXx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__iNom6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.hero3 {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  min-width: 0;
  padding: 128px 64px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero3 {
    padding: 256px 32px 32px;
  }
}
.img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.background3 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff80;
}
.foreground {
  display: flex;
  position: relative;
  max-width: 1920px;
}
.foreground > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__lu5BV {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__lu5BV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lu5BV > :global(.__wab_flex-container) > *,
.freeBox__lu5BV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lu5BV > :global(.__wab_flex-container) > picture > img,
.freeBox__lu5BV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__pzgnz {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__pzgnz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pzgnz > :global(.__wab_flex-container) > *,
.freeBox__pzgnz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pzgnz > :global(.__wab_flex-container) > picture > img,
.freeBox__pzgnz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jTHwz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__b9Vje {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-zgBdZ9r5IIDJ);
  background: #ffffff;
  padding: 4px 8px;
}
.text__tJt5X {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-ZOD7WB2MfmLM);
}
.text__pUrqm {
  font-size: 20px;
  color: var(--token-zgBdZ9r5IIDJ);
  line-height: 28px;
}
.freeBox__zkuJd {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__zkuJd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zkuJd > :global(.__wab_flex-container) > *,
.freeBox__zkuJd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zkuJd > :global(.__wab_flex-container) > picture > img,
.freeBox__zkuJd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__x4NbX:global(.__wab_instance) {
  position: relative;
}
.svg__i3P8M {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__ppBo {
  height: auto;
}
.svg__hzKyU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button___2Vd6B:global(.__wab_instance) {
  position: relative;
}
.svg__o2Z44 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__fnzh {
  height: auto;
  font-weight: 400;
}
.svg__ra6Ky {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.freeBox__fEcTz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__fEcTz > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fEcTz > :global(.__wab_flex-container) > *,
.freeBox__fEcTz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fEcTz > :global(.__wab_flex-container) > picture > img,
.freeBox__fEcTz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__fWvh5 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__dkTfl {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__dkTfl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dkTfl > :global(.__wab_flex-container) > *,
.freeBox__dkTfl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dkTfl > :global(.__wab_flex-container) > picture > img,
.freeBox__dkTfl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__jq30C {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__jq30C > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__jq30C > :global(.__wab_flex-container) > *,
.freeBox__jq30C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jq30C > :global(.__wab_flex-container) > picture > img,
.freeBox__jq30C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__oYqpa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__tuTi1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__qGh5X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__pB1U7:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rQo4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__zl427 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.freeBox__ggsRn {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ggsRn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ggsRn > :global(.__wab_flex-container) > *,
.freeBox__ggsRn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ggsRn > :global(.__wab_flex-container) > picture > img,
.freeBox__ggsRn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.divider__jK1Jj:global(.__wab_instance) {
  position: relative;
}
.divider__cfBek:global(.__wab_instance) {
  position: relative;
}
.freeBox__jjIie {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__jjIie > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jjIie > :global(.__wab_flex-container) > *,
.freeBox__jjIie > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jjIie > :global(.__wab_flex-container) > picture > img,
.freeBox__jjIie
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.button__xxXtY:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__uZro {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg___9Y8Jv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-RQjEhs4-Rk7J);
}
.divider__vOah:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__dVj7Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-h6RXN8FmsAdZ);
  padding: 32px;
}
.text__fXhC {
  position: relative;
  color: var(--token-zgBdZ9r5IIDJ);
}
