.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  overflow: auto;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__mprKd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__mJeet {
  object-fit: cover;
  width: 40px;
}
.img__mJeet > picture > img {
  object-fit: cover;
}
.img__mJeet > .__wab_img-spacer > img {
  object-fit: cover;
}
.button__jiRek:global(.__wab_instance) {
  position: relative;
}
.svg__vDuJd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg___7Xul {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__g4RSs:global(.__wab_instance) {
  position: relative;
}
.svg__r5OlA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__cPSkp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__wd16C:global(.__wab_instance) {
  position: relative;
}
.svg__q9Bq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__rIqxt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__cTpSb:global(.__wab_instance) {
  position: relative;
}
.svg__tj0Rz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__mn9 {
  height: auto;
}
.svg__eRx0T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__nxDL:global(.__wab_instance) {
  position: relative;
}
.svg___2XgAc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__zTj7H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__sCeot:global(.__wab_instance) {
  position: relative;
}
.svg__fbyAc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__hf8Qm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.heroSection2:global(.__wab_instance) {
  position: relative;
  max-width: 1964px;
  width: 100%;
  min-width: 0;
}
.freeBox___3QVoc {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___3QVoc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___3QVoc > :global(.__wab_flex-container) > *,
.freeBox___3QVoc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3QVoc > :global(.__wab_flex-container) > picture > img,
.freeBox___3QVoc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__d1QE2 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__d1QE2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__d1QE2 > :global(.__wab_flex-container) > *,
.freeBox__d1QE2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d1QE2 > :global(.__wab_flex-container) > picture > img,
.freeBox__d1QE2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__dibQw {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-ZOD7WB2MfmLM);
  height: auto;
  align-self: flex-start;
  padding-bottom: 0px;
}
.text__anBv {
  font-size: 20px;
  color: var(--token-zgBdZ9r5IIDJ);
  line-height: 28px;
  height: auto;
  width: 394px;
  text-align: center;
}
.freeBox__pT0N {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__pT0N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pT0N > :global(.__wab_flex-container) > *,
.freeBox__pT0N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pT0N > :global(.__wab_flex-container) > picture > img,
.freeBox__pT0N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__a4EDh:global(.__wab_instance) {
  position: relative;
}
.svg__xCz38 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__yPhOb {
  height: auto;
}
.svg___3EVYn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__xnKwP:global(.__wab_instance) {
  position: relative;
}
.svg__gysEa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__ipBao {
  height: auto;
  font-weight: 400;
}
.svg__be0Vy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.freeBox__eB9H9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox__eB9H9 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eB9H9 > :global(.__wab_flex-container) > *,
.freeBox__eB9H9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eB9H9 > :global(.__wab_flex-container) > picture > img,
.freeBox__eB9H9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__or5Zb {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.divider__rmECj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.plasmicNextjs {
  position: relative;
  height: auto;
  color: #535353;
  display: block;
}
.freeBox__yNoJ4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: var(--token-h6RXN8FmsAdZ);
  padding: 32px;
}
.text___9XEq {
  position: relative;
  color: var(--token-zgBdZ9r5IIDJ);
}
.freeBox__mwDWh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.valuesSection3:global(.__wab_instance) {
  display: flex;
}
.freeBox__lpAea {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__lpAea > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__lpAea > :global(.__wab_flex-container) > *,
.freeBox__lpAea > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lpAea > :global(.__wab_flex-container) > picture > img,
.freeBox__lpAea
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__xbwX6 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__xbwX6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__xbwX6 > :global(.__wab_flex-container) > *,
.freeBox__xbwX6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xbwX6 > :global(.__wab_flex-container) > picture > img,
.freeBox__xbwX6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xbwX6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xbwX6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xbwX6 > :global(.__wab_flex-container) > *,
  .freeBox__xbwX6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xbwX6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xbwX6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__gEdgy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__criaV {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___5HVm8 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop__kzSat:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__azsMz {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___9Dp40 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop___93Vv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lubdz {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__lVyJ2 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop___98Eb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__y6LXt {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__rj3Y5 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.text___6CEhJ {
  height: auto;
}
.freeBox__acpkU {
  flex-direction: column;
  display: flex;
  height: auto;
}
.freeBox__acpkU > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__acpkU > :global(.__wab_flex-container) > *,
.freeBox__acpkU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acpkU > :global(.__wab_flex-container) > picture > img,
.freeBox__acpkU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__blDwe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-ZOD7WB2MfmLM);
  line-height: 1;
}
.text__r657O {
  font-size: 20px;
  color: var(--token-zgBdZ9r5IIDJ);
  text-align: left;
  line-height: 28px;
}
.freeBox__yBbQu {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__yBbQu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yBbQu > :global(.__wab_flex-container) > *,
.freeBox__yBbQu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yBbQu > :global(.__wab_flex-container) > picture > img,
.freeBox__yBbQu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__hHiij {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__hHiij > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__hHiij > :global(.__wab_flex-container) > *,
.freeBox__hHiij > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hHiij > :global(.__wab_flex-container) > picture > img,
.freeBox__hHiij
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hHiij {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hHiij > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hHiij > :global(.__wab_flex-container) > *,
  .freeBox__hHiij > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hHiij > :global(.__wab_flex-container) > picture > img,
  .freeBox__hHiij
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__lh5Jz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uEnrP {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___24OyS {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.text__iDd1N {
  height: auto;
}
.valueprop__ddyRt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__usg1P {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__stYbV {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop___2HqKc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ovEU {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__jtbGe {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop__oEx5I:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mxKI {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___2LqAa {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.freeBox__g4Gft {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__nRpsm {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__nRpsm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nRpsm > :global(.__wab_flex-container) > *,
.freeBox__nRpsm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nRpsm > :global(.__wab_flex-container) > picture > img,
.freeBox__nRpsm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__rUdh4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-66ux2A7DpCCN);
}
.h2__dJZzj {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-J2182N9Lj4Jf);
  line-height: 1;
}
.text__gidRo {
  font-size: 20px;
  color: var(--token-RQjEhs4-Rk7J);
  line-height: 28px;
  height: auto;
}
.button__bkOSt:global(.__wab_instance) {
  position: relative;
}
.svg__ipRu7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__e88Um {
  color: var(--token-7j5jIs-CvQZI);
}
.svg__ci6Sd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-7j5jIs-CvQZI);
}
.freeBox__pqfU {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__hmouy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dtq {
  color: var(--token-J2182N9Lj4Jf);
}
.svg__dlob3 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
.listItem___9Gsn2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nhx8U {
  color: var(--token-J2182N9Lj4Jf);
}
.svg__pOxUz {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
.listItem__hshJ:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__pxCch {
  height: auto;
  color: var(--token-J2182N9Lj4Jf);
}
.svg__c9Jo7 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
.listItem__dbmA:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__olpYv {
  height: auto;
  color: var(--token-J2182N9Lj4Jf);
}
.svg__zNnTc {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
.listItem__yJgG9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__fsk5Y {
  height: auto;
  color: var(--token-J2182N9Lj4Jf);
}
.svg__djZu4 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
.freeBox___5Nil9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__zKwm {
  flex-direction: column;
  display: flex;
}
.freeBox__zKwm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zKwm > :global(.__wab_flex-container) > *,
.freeBox__zKwm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zKwm > :global(.__wab_flex-container) > picture > img,
.freeBox__zKwm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__s14Ie {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__zchHt {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-J2182N9Lj4Jf);
  line-height: 1;
}
.text__cx3Ev {
  font-size: 20px;
  color: var(--token-RQjEhs4-Rk7J);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__iRfKk {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
}
.freeBox__iRfKk > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iRfKk {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iRfKk > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iRfKk > :global(.__wab_flex-container) > *,
  .freeBox__iRfKk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iRfKk > :global(.__wab_flex-container) > picture > img,
  .freeBox__iRfKk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__oyXhB {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-FLk5QZ0quVTU);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oyXhB {
    border-radius: 16px;
  }
}
.freeBox__xfRfN {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__xfRfN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xfRfN > :global(.__wab_flex-container) > *,
.freeBox__xfRfN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xfRfN > :global(.__wab_flex-container) > picture > img,
.freeBox__xfRfN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__gbPmg {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__jjp8G {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__jjp8G > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__jjp8G > :global(.__wab_flex-container) > *,
.freeBox__jjp8G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jjp8G > :global(.__wab_flex-container) > picture > img,
.freeBox__jjp8G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__qYvQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text___2R1FA {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--token-ZOD7WB2MfmLM);
  width: auto;
}
.text__unPi8 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-ZOD7WB2MfmLM);
  width: auto;
}
.text__toeTr {
  line-height: 28px;
  color: var(--token-zgBdZ9r5IIDJ);
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__mrUG:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__bLXA {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-h6RXN8FmsAdZ);
  padding: 32px;
}
.freeBox__bLXA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bLXA > :global(.__wab_flex-container) > *,
.freeBox__bLXA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bLXA > :global(.__wab_flex-container) > picture > img,
.freeBox__bLXA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__kgvKf {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__kgvKf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kgvKf > :global(.__wab_flex-container) > *,
.freeBox__kgvKf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kgvKf > :global(.__wab_flex-container) > picture > img,
.freeBox__kgvKf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop___3XJio:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__q0DLh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__wItep {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop__s3RQ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eQl7O {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__nnDiq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.svg__uETiY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__hEdiD {
  height: auto;
}
.svg___7VDfY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.freeBox__iqfUr {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: var(--token-FLk5QZ0quVTU);
  border-radius: 16px;
  border: 4px solid var(--token-68gdc5UGEvEx);
}
.freeBox__yDWjm {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__yDWjm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yDWjm > :global(.__wab_flex-container) > *,
.freeBox__yDWjm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yDWjm > :global(.__wab_flex-container) > picture > img,
.freeBox__yDWjm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__mp5D1 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__sM0Os {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__sM0Os > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sM0Os > :global(.__wab_flex-container) > *,
.freeBox__sM0Os > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sM0Os > :global(.__wab_flex-container) > picture > img,
.freeBox__sM0Os
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__vmMm5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__qyt78 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--token-ZOD7WB2MfmLM);
  width: auto;
}
.text__i7D01 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-ZOD7WB2MfmLM);
  width: auto;
}
.text__jtt2L {
  line-height: 28px;
  color: var(--token-zgBdZ9r5IIDJ);
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider___0FPvI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__sQnpk {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-h6RXN8FmsAdZ);
  padding: 32px;
}
.freeBox__sQnpk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__sQnpk > :global(.__wab_flex-container) > *,
.freeBox__sQnpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sQnpk > :global(.__wab_flex-container) > picture > img,
.freeBox__sQnpk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__m5Efs {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__m5Efs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__m5Efs > :global(.__wab_flex-container) > *,
.freeBox__m5Efs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m5Efs > :global(.__wab_flex-container) > picture > img,
.freeBox__m5Efs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__qQlPc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vtxwx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__sPhKc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop__elLb4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__jjrTb {
  height: auto;
}
.svg__gM5O {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__d4Mdd {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop__boCpc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xwZmg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__f6EGc {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop__fywIp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__agf8Y {
  height: auto;
}
.svg__bFnxg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__atRz1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.svg___2ARuz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__nhWr {
  height: auto;
}
.svg__fiiAw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.freeBox__mlOWg {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-FLk5QZ0quVTU);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mlOWg {
    border-radius: 16px;
  }
}
.freeBox__dsjSc {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__dsjSc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dsjSc > :global(.__wab_flex-container) > *,
.freeBox__dsjSc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dsjSc > :global(.__wab_flex-container) > picture > img,
.freeBox__dsjSc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__b9NX {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox___9FHeq {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___9FHeq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___9FHeq > :global(.__wab_flex-container) > *,
.freeBox___9FHeq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9FHeq > :global(.__wab_flex-container) > picture > img,
.freeBox___9FHeq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__vPx5C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__lxeBl {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--token-ZOD7WB2MfmLM);
  width: auto;
}
.text__p6UE5 {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-ZOD7WB2MfmLM);
  width: auto;
}
.text__at9Bo {
  line-height: 28px;
  color: var(--token-zgBdZ9r5IIDJ);
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__rDlC6:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__mwu3Y {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-h6RXN8FmsAdZ);
  padding: 32px;
}
.freeBox__mwu3Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mwu3Y > :global(.__wab_flex-container) > *,
.freeBox__mwu3Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mwu3Y > :global(.__wab_flex-container) > picture > img,
.freeBox__mwu3Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__w6EWb {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__w6EWb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__w6EWb > :global(.__wab_flex-container) > *,
.freeBox__w6EWb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w6EWb > :global(.__wab_flex-container) > picture > img,
.freeBox__w6EWb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__zdH83:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pSzzf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___6RkHt {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.valueprop__qDXxS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__il28H {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__vmyQb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-FLk5QZ0quVTU);
}
.svg___0Zahb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__txtYh {
  height: auto;
}
.svg__jnR5E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner___3Lagp:global(.__wab_instance) {
  position: relative;
}
.img__txiju {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__txiju > picture > img {
  object-fit: cover;
}
.img__txiju > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__leept {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__vhiNg {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-ZOD7WB2MfmLM);
  line-height: 1;
  height: auto;
}
.svg__ryOhW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text___0M4Cd {
  height: auto;
  width: auto;
  color: var(--token-eb6H2hfctm6F);
  white-space: pre;
}
.svg__dGsSd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.freeBox__o5RXf {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__o5RXf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__o5RXf > :global(.__wab_flex-container) > *,
.freeBox__o5RXf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o5RXf > :global(.__wab_flex-container) > picture > img,
.freeBox__o5RXf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o5RXf {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o5RXf > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o5RXf > :global(.__wab_flex-container) > *,
  .freeBox__o5RXf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__o5RXf > :global(.__wab_flex-container) > picture > img,
  .freeBox__o5RXf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img___2RpI {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img___2RpI > picture > img {
  object-fit: cover;
}
.img___2RpI > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__wNr5B {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__uQcdK {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-ZOD7WB2MfmLM);
  line-height: 1;
  height: auto;
}
.svg__fGf4Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__ti8Is {
  height: auto;
  width: auto;
  color: var(--token-eb6H2hfctm6F);
  white-space: pre;
}
.svg__ti6Ty {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.banner__azsGn:global(.__wab_instance) {
  position: relative;
}
.img__gms7I {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__gms7I > picture > img {
  object-fit: cover;
}
.img__gms7I > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__uy84 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__kv6Rf {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-ZOD7WB2MfmLM);
  line-height: 1;
  height: auto;
}
.svg__bY9Xa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__lf8QY {
  height: auto;
  width: auto;
  color: var(--token-eb6H2hfctm6F);
  white-space: pre;
}
.svg__lYWeP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img___5KZkG {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___5KZkG > picture > img {
  object-fit: cover;
}
.img___5KZkG > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cYwFh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__cYwFh > picture > img {
  object-fit: cover;
}
.img__cYwFh > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__gWlU5 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__gWlU5 > picture > img {
  object-fit: cover;
}
.img__gWlU5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__bzqxh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__bzqxh > picture > img {
  object-fit: cover;
}
.img__bzqxh > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__hDyr {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__hDyr > picture > img {
  object-fit: cover;
}
.img__hDyr > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__yUSnb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial__jenao:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__bxxBs {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__aG4R:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__ly59H {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__ly59H > picture > img {
  object-fit: cover;
}
.img__ly59H > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial__egWmv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___2ACn {
  height: auto;
}
.text__dfvT {
  height: auto;
}
.img__gOwqE {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__gOwqE > picture > img {
  object-fit: cover;
}
.img__gOwqE > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial__sdDpd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__pwxQk {
  height: auto;
}
.img__gXgTc {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img__nywZh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img__nywZh > picture > img {
  object-fit: cover;
}
.img__nywZh > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__g84Jm {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: var(--token-eb6H2hfctm6F);
}
.freeBox__yXJxT {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__yXJxT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yXJxT > :global(.__wab_flex-container) > *,
.freeBox__yXJxT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yXJxT > :global(.__wab_flex-container) > picture > img,
.freeBox__yXJxT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__bf64B {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-J2182N9Lj4Jf);
}
.text___1Qjoq {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-J2182N9Lj4Jf);
  line-height: 1;
}
.text__twiyo {
  font-size: 20px;
  color: var(--token-RQjEhs4-Rk7J);
  line-height: 28px;
}
.freeBox__fnnX {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fnnX > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fnnX > :global(.__wab_flex-container) > *,
.freeBox__fnnX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fnnX > :global(.__wab_flex-container) > picture > img,
.freeBox__fnnX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__ihb6Q:global(.__wab_instance) {
  position: relative;
}
.svg__krn9C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.svg__xdZtH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.button__eVh32:global(.__wab_instance) {
  position: relative;
}
.svg__jeClM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text__paO7Z {
  height: auto;
  font-weight: 400;
}
.svg__h8HLo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.link__rl3Xa {
  position: relative;
  display: block;
}
.text__uqtDd {
  position: relative;
}
