.root {
  flex-direction: row;
  display: flex;
  position: relative;
  background: var(--token-EWRzyK4b9zAu);
  padding: 64px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    padding: 128px 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.foreground {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__wcRie {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__wcRie > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wcRie > :global(.__wab_flex-container) > *,
.freeBox__wcRie > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wcRie > :global(.__wab_flex-container) > picture > img,
.freeBox__wcRie
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__rfZ5S {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-66ux2A7DpCCN);
}
.h2__yytZe {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-J2182N9Lj4Jf);
  line-height: 1;
}
.text__voja2 {
  font-size: 20px;
  color: var(--token-RQjEhs4-Rk7J);
  line-height: 28px;
  height: auto;
}
.button__rYufm:global(.__wab_instance) {
  position: relative;
}
.svg__az7Um {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-zgBdZ9r5IIDJ);
}
.text___77N93 {
  color: var(--token-7j5jIs-CvQZI);
}
.svg___8Aiv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-7j5jIs-CvQZI);
}
.freeBox__mKlM {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__tVzEc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___3N5B {
  color: var(--token-J2182N9Lj4Jf);
}
.svg__doItX {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
.listItem__tj27:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__snsge {
  color: var(--token-J2182N9Lj4Jf);
}
.svg__x60FJ {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
.listItem__engM2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uJfjg {
  height: auto;
  color: var(--token-J2182N9Lj4Jf);
}
.svg___0KuJr {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
.listItem__pehhs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__par6M {
  height: auto;
  color: var(--token-J2182N9Lj4Jf);
}
.svg__cvoq4 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
.listItem__qtc3L:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ypbWe {
  height: auto;
  color: var(--token-J2182N9Lj4Jf);
}
.svg___500A {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-66ux2A7DpCCN);
}
